## Mac OSX ##
.DS_Store

## coverage files ##
##/coverage##

## modules ##
node_modules/

## dotenv file ##
.env

## compiled ##
client/dist/bundle.*
client/dist/86.bundled.*
client/dist/client_src_components*

starkfront.pem
